body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    -webkit-app-region: drag;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    -webkit-app-region: no-drag;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    -webkit-app-region: no-drag;
}

input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-app-region: no-drag;
}

button {
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    background: linear-gradient(to right, #ff5f6d, #ff6a00);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-app-region: no-drag;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.shortcut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    -webkit-app-region: no-drag;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
