/* Reset styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(0, 0, 0, 0.9); /* Set a dark background color */
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgba(255, 255, 255, 0.9); /* Set a light background color */
  }
}
/* Header styles */
#controls {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
}

@media (prefers-color-scheme: dark) {
  #controls {
    background: rgba(0, 0, 0, 0.9);
  }
  #serviceName {
    color: rgba(228, 228, 228, 0.643);
  }
}

@media (prefers-color-scheme: light) {
  #controls {
    background: rgba(255, 255, 255, 0.9);
  }
  #serviceName {
    color: rgba(21, 21, 21, 0.643);
  }
}

img
{
  border-radius: 50%;
  object-fit: cover;
}

#serviceName {
  flex-grow: 0.1;
  padding: 2px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border-radius: 6px;
  cursor: default;
}

/* Dropdown styles */
.dropdown {
  -webkit-app-region: no-drag;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
}

.dropdown-content {
  -webkit-app-region: no-drag;
  display: none; /* Hide dropdown by default */
  position: absolute;
  left: 0.4px; /* Adjust as needed */
  background-color: #f8f8f8;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-content a {
  font-size:14px;
  font-weight:400;
  -webkit-app-region: no-drag;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex; /* Change to flex */
  align-items: center; /* Align items vertically */
  filter: blur(1.2px); /* Apply a blur */
  transition: filter 0.3s ease; /* Smooth out the transition */
}
.dropdown-content a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-content a:hover {
  background-color: rgb(235, 234, 235);
  cursor: pointer;
  border-radius: 7px;
  font-weight:450;
  filter: blur(0);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}


/* Button styles */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button {
  padding: 2px 4px;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

#settingsButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

/* Config panel styles */
#configPanel {
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  #configPanel {
    background-color: #0A0A0B; /* Dark background color */
    color: #FAFAFA; /* Dark text color */
  }
  .settingsLabel,
  .config-label, .expand-button {
    color: #FAFAFA; /* Label color */
  }
  .settingsSublabel,
  .config-sublabel {
    color: #83838A; /* Sub-label color */
  }
  .toggle-button.active:before {
    background-color: #000000; /* White color for circle inside the toggle */
  }
  .toggle-button {
    background-color: #27272A;
  }
  .toggle-button.active {
    background-color: #FAFAFA; /* Toggle active background color */
  }
  .toggle-button:before {
    background-color: #0A0A0B; /* Toggle inactive background color */
  }
  .expand-button:hover {
    color: #bcbcbc;
  }
}

@media (prefers-color-scheme: light) {
  #configPanel {
    background-color: #FFFFFF; /* Light background color */
    color: #0A0A0B; /* Light text color */
  }
  .settingsLabel,
  .config-label {
    color: #0A0A0B; /* Label color */
  }
  .settingsSublabel,
  .config-sublabel {
    color: #97979E; /* Sub-label color */
  }
  .toggle-button.active:before {
    background-color: white; /* White color for circle inside the toggle */
  }
  .toggle-button {
    background-color: #FAFAFA;
  }
  .toggle-button.active {
    background-color: #0f0f0f; /* Toggle active background color */
  }
  .toggle-button:before {
    background-color: #f8f8f8; /* Toggle inactive background color */
  }
  .expand-button:hover {
    color: #767676;
  }
}

.settingsPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.settingsLabel {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.settingsSublabel {
  font-size: 14px;
  margin-bottom: 5px;
}

.divider {
  border: 0;
  height: 1px;
  margin: 15px 0;
}

@media (prefers-color-scheme: dark) {
  .divider {
    background-color: #1d1d1d;
  }
}

@media (prefers-color-scheme: light) {
  .divider {
    background-color: #e4e4e4;
  }
}


.divider-drop {
  border: 0;
  height: 1px;
  margin: 5px 0;
  background-color: #e4e4e4;
}

/* Ensure toggle buttons remain the same size regardless of text wrapping */
.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* Prevent flex items from wrapping */
  margin-bottom: 20px;
}

.config-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.config-label,
.config-sublabel {
  margin-bottom: 2px;
}

.config-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.config-sublabel {
  font-size: 14px;
}

/* Toggle button styles */
.toggle-button {
  position: relative;
  width: 50px;
  height: 24px;
  border-radius: 17px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #cacaca;
}

@media (prefers-color-scheme: dark) {
  .toggle-button {
    background-color: #27272A;
  }
}
@media (prefers-color-scheme: light) {
  .toggle-button {
    background-color: #d6d6d6;
  }
}

.toggle-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: left 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

.toggle-button.active:before {
  left: 20px;
}

/* Existing styles for expandable panels */
.expand-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

expand-text
{
  font-size: 16px;
  font-weight: 500;
}
.expand-button {
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.expand-icon {
  margin-left: 10px;
}

.expand-button::after {
  margin-left: 5px;
  padding-left: 50px;
}

/* Styles for expansion panels */
.expansion-panel {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 100%;
  margin-top: 20px;
  white-space: nowrap;
  overflow: auto;
}

.expansion-panel input[type="checkbox"],
.expansion-panel label {
  margin-bottom: 5px;
}

.expansion-panel.hidden {
  max-height: 0;
}

.expansion-panel:not(.hidden) {
  max-height: 300px; /* Adjust as needed */
}

/* Styles for checkboxes */
.config-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
}

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.checkbox-item input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
}

.checkbox-item input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
}

.checkbox-item input[type="checkbox"]:checked::before {
  background-color: #f8f8f8;
}

.checkbox-item input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #EA6153;
}

.checkbox-item label {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
  padding-right: 30px;
  margin-left: 10px;
  white-space: nowrap; /* Add this line */

}

#closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

@media (prefers-color-scheme: dark) {
  #closeButton {
    color: #FAFAFA;
  }
}

@media (prefers-color-scheme: light) {
  #closeButton {
    color: #0A0A0B;
  }
}

.settings-main{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.settingsWrapper i.fas.fa-cog {
  margin-right: 8px; /* adjust the spacing here */
}

.save-button {
  background-color: #000000; /* Green */
  border-radius: 7px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform to transition */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Added shadow to the button */
}
.save-button:hover {
  transform: scale(0.98);
}
.save-button:active {
  transform: scale(0.90); /* Increased the scale reduction when button is pressed */
}

.save-button.saving {
  background-color: #ff5533; /* Gray */
  color: #ffffff; /* White */
}

@media (prefers-color-scheme: dark) {
  .save-button {
    background-color: #ffffff; /* White for dark scheme */
    color: #000000; /* Black text for dark scheme */
  }
  .save-button.saving {
    background-color: #ff5533; /* Gray for dark scheme */
    color: #ffffff; /* White text for dark scheme */
  }
}

